{% extends 'base.html.twig' %}

{% block title %}Kindergarten - Daycare and Kindergarten Website Template{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous"></script>

{% endblock %}


{% block body %}
    <div class="container padding-medium">
        <div class="row ">
            <div class="col-md-6 pe-md-5">
                <div class="imageblock">
                    <div class="animated-border">
                        <img src="{{ asset('images/about-img.jpg') }}" alt="img" class="img-fluid rounded-circle ">
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-5 mt-md-0">
                <h2 class="display-4">Poskytujeme povinné predprimárne vzdelávanie </h2>

                <p><b>od 1.9.2019  sme Ministerstvom školstva zaradený do siete škôl a školských zariadení.</b> </p>
                <p>
                    Sme nová materská škola fungujúca od šk. roku 2018/ 2019 , ktorá sa nachádza v súkromnom areáli v blízkosti
                    centra Košíc s parkovaním pred materskou školou. Budova materskej školy je dvojpodlažná. Materská škola je
                    dvojtriedna. Obe triedy sú vybavené interaktívnou tabuľou a s množstvom didaktického materiálu, ktorý neustále dopĺňame
                </p>

            </div>
        </div>
    </div>

    <div class="container padding-medium">
        <div class="row ">
            <div class="col-md-6 pe-md-5">
                <h2 class="display-4">How Kindergarten Started </h2>
                <p>In commodo auctor eget congue sit. Ultrices eget pretium sit euismod mi id. Risus, aliquam odio
                    posuere ac in in nisl sed augue. Porta aenean egestas malesuada in pulvinar enim viverra.</p>
                <a href="#" class="btn btn-primary py-3 px-5"> Read Blog </a>
            </div>
            <div class="col-md-6 mt-5 mt-md-0">
                <h2 class="display-4">More About Us </h2>
                <p>In commodo auctor aenean egestas malesuada in pulvinar enim viverra.</p>
                <p class="m-0 mb-2"> <span class="text-primary">✓</span> Porta aenean egestas malesuada in pulvinar enim
                    viverra.</p>
                <p class="m-0 mb-2"> <span class="text-primary">✓</span> Ultrices eget pretium sit euismod mi id.</p>
                <p class="m-0 mb-2"> <span class="text-primary">✓</span> Risus, aliquam odio posuere ac in in nisl sed augue.
                </p>
                <p class="m-0 mb-2"> <span class="text-primary">✓</span> Commodo aenean egestas malesuada in pulvinar enim
                    viverra.</p>

            </div>
        </div>
    </div>

    <div class="container padding-medium pt-0">
        <div class="row ">
            <div class="col-md-6 pe-md-5">
                <div class="imageblock">
                    <div class="animated-border">
                        <img src="{{ asset('images/about-img.jpg') }}" alt="img" class="img-fluid rounded-circle ">
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-5 mt-md-0">
                <h2 class="display-4">Learn as you play in Kindergarten</h2>

                <p>Aliquet nunc vitae interdum mauris pretium lectus mauris viverra ornare quam diam felis. Ultrices
                    eget pretium sit euismod mi id risus, aliquam odio posuere ac in in nisl sed augue. Porta aenean
                    egestas malesuada in pulvinar enim viverra. ipsum dolor sit amet consectetur. Ipsum ipsum ut
                    pulvinar ipsum cras metus purus mattis integer. Tellus ipsum viverra semper quisque eget nisl
                    vel congue consectetur. </p>
                <p>Ultrices eget pretium sit euismod mi id risus, aliquam odio posuere ac in in nisl sed augue. Porta aenean
                    egestas malesuada in pulvinar enim viverra. ipsum dolor sit amet consectetur. Ipsum ipsum ut
                    pulvinar ipsum cras metus purus mattis integer. Tellus ipsum viverra semper quisque eget nisl
                    vel congue consectetur. </p>

            </div>
        </div>
    </div>

    <section id="cta" class="jarallax"
             style="background-image: {{ asset('images/cta.jpg') }}; background-repeat: no-repeat; background-position: center;">
        <div class="container padding-medium">

            <div class="offset-md-3 col-md-6 text-center ">
                <div class="section-title">
                    <h2 class="display-4 mb-3 banner-title">Are you going to enroll your child to a class?</h2>
                </div>

                <p class="banner-title">Pretium turpis faucibus adipiscing duis. Id quis tristique mi vitae nec. In et in
                    praesent pellentesque sit porta ridiculus faucibus. </p>
                <a class="btn btn-primary mt-3" href="enrollment.html.twig">Read More</a>
            </div>

        </div>
        </div>
    </section>


    <section id="gallery">
        <div class="container padding-medium">
            <h2 class="display-4 text-center mb-5">View our gallery</h2>
            <div class="row entry-container">
                <div class="entry-item col-md-4 my-3">
                    <a href="{{ asset('images/images/item1.jpg') }}" title="Kindergarten" class="image-link"><img src="{{ asset('images/item1.jpg') }}"
                                                                                                         class=" post-image img-fluid rounded-4"></a>
                </div>
                <div class="entry-item col-md-4 my-3">
                    <a href="{{ asset('images/images/item3.jpg') }}" title="Kindergarten" class="image-link"><img src="{{ asset('images/item3.jpg') }}"
                                                                                                         class=" post-image img-fluid rounded-4"></a>
                </div>
                <div class="entry-item col-md-4 my-3">
                    <a href="{{ asset('images/images/item5.jpg') }}" title="Kindergarten" class="image-link"><img src="{{ asset('images/item5.jpg') }}"
                                                                                                         class=" post-image img-fluid rounded-4"></a>
                </div>
                <div class="entry-item col-md-4 my-3">
                    <a href="{{ asset('images/images/item2.jpg') }}" title="Kindergarten" class="image-link"><img src="{{ asset('images/item2.jpg') }}"
                                                                                                         class=" post-image img-fluid rounded-4"></a>
                </div>
                <div class="entry-item col-md-4 my-3">
                    <a href="{{ asset('images/images/item6.jpg') }}" title="Kindergarten" class="image-link"><img src="{{ asset('images/item6.jpg') }}"
                                                                                                         class=" post-image img-fluid rounded-4"></a>
                </div>
                <div class="entry-item col-md-4 my-3">
                    <a href="{{ asset('images/images/item4.jpg') }}" title="Kindergarten" class="image-link"><img src="{{ asset('images/item4.jpg') }}"
                                                                                                         class=" post-image img-fluid rounded-4"></a>
                </div>
            </div>
            <div class="text-center">
                <a class="btn btn-primary mt-4" href="gallery.html.twig">View Gallery</a>
            </div>
        </div>
    </section>

    <section id="testimonial" class="jarallax"
             style="background-image: {{ asset('images/testimonial-bg.jpg') }}; background-repeat: no-repeat; background-position: center;">
        <div class="container padding-medium">

            <div class="offset-md-1 col-md-10 ">
                <div class="swiper testimonial-swiper py-3 py-md-5 bg-white rounded-4">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="review px-md-5">
                                <div class="review-content px-5 d-lg-flex align-items-center ">
                                    <img src="{{ asset('images/reviewer1.jpg') }}" alt="reviewer" class="img-fluid rounded-circle">
                                    <div class="ms-md-4 mt-3 mt-lg-0">
                                        <p>“Pretium turpis faucibus adipiscing duis. Id quis tristique mi vitae nec. In et in praesent
                                            pellentesque. Porta sit porta ridiculus faucibus. Curabitur lacus pretium pellentesque interdum
                                            urna blandit.”</p>
                                        <h2 class="name m-0 lh-sm">Emily Smith</h3>
                                            <p class="m-0">Serene mom</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="review px-md-5">
                                <div class="review-content px-5 d-lg-flex align-items-center ">
                                    <img src="{{ asset('images/reviewer3.jpg') }}" alt="reviewer" class="img-fluid rounded-circle">
                                    <div class="ms-md-4 mt-3 mt-lg-0">
                                        <p>“Pretium turpis faucibus adipiscing duis. Id quis tristique mi vitae nec. In et in praesent
                                            pellentesque. Porta sit porta ridiculus faucibus. Curabitur lacus pretium pellentesque interdum
                                            urna blandit.”</p>
                                        <h2 class="name m-0 lh-sm">Jenny Will</h3>
                                            <p class="m-0">Hanay mom</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="review px-md-5">
                                <div class="review-content px-5 d-lg-flex align-items-center ">
                                    <img src="{{ asset('images/reviewer2.jpg') }}" alt="reviewer" class="img-fluid rounded-circle">
                                    <div class="ms-md-4 mt-3 mt-lg-0">
                                        <p>“Pretium turpis faucibus adipiscing duis. Id quis tristique mi vitae nec. In et in praesent
                                            pellentesque. Porta sit porta ridiculus faucibus. Curabitur lacus pretium pellentesque interdum
                                            urna blandit.”</p>
                                        <h2 class="name m-0 lh-sm">Noran Shara</h3>
                                            <p class="m-0">Sam mom</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination position-relative pt-4 pt-md-5"></div>
                </div>
            </div>

        </div>
        </div>
    </section>

    <section id="news">
        <div class="container padding-medium">
            <h2 class="display-4 text-center mb-5">News & Articles</h2>
            <div class="row">
                <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
                    <div class="card bg-white rounded-4">
                        <a href="single-post.html.twig"><img src="{{ asset('images/blog1.jpg') }}" class="img-fluid rounded-top-4 " alt="image"></a>
                        <div class="card-body p-3">
                            <p class="mb-2">10 Feb, Sun</p>
                            <a href="single-post.html.twig" class="hover-color">
                                <h2 class="m-0 lh-sm">The Benefits of Play-Based Learning for Kindergarteners</h3>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
                    <div class="card bg-white rounded-4">
                        <a href="single-post.html.twig"><img src="{{ asset('images/blog3.jpg') }}" class="img-fluid rounded-top-4 " alt="image"></a>
                        <div class="card-body p-3">
                            <p class="mb-2">15 Mar, Mon</p>
                            <a href="single-post.html.twig" class="hover-color">
                                <h2 class="m-0 lh-sm">Creating a Safe and Inclusive Kindergarten Environment</h3>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
                    <div class="card bg-white rounded-4">
                        <a href="single-post.html.twig"><img src="{{ asset('images/blog2.jpg') }}" class="img-fluid rounded-top-4 " alt="image"></a>
                        <div class="card-body p-3">
                            <p class="mb-2">22 Feb, Fri</p>
                            <a href="single-post.html.twig" class="hover-color">
                                <h2 class="m-0 lh-sm">Nutrition Tips for Healthy Kindergarten Snacks</h3>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
                    <div class="card bg-white rounded-4">
                        <a href="single-post.html.twig"><img src="{{ asset('images/blog4.jpg') }}" class="img-fluid rounded-top-4 " alt="image"></a>
                        <div class="card-body p-3">
                            <p class="mb-2">26 Apr, Tue</p>
                            <a href="single-post.html.twig" class="hover-color">
                                <h2 class="m-0 lh-sm">Craft Ideas for Kindergarten Art Projects</h3>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="text-center">
                <a class="btn btn-primary mt-5" href="blog.html.twig">Read All News</a>
            </div>
        </div>
        </div>
    </section>

    <section id="enroll">
        <div class="container padding-medium pt-0">

            <div class="offset-md-3 col-md-6 text-center ">

                <h2 class="display-4 mb-3">How to enroll your child?</h2>
                <p class="fw-bold">Call: 666 333 9999 or Fill in the form below</p>
                <p>Pretium turpis faucibus adipiscing duis. Id quis tristique mi vitae nec. In et in praesent pellentesque.
                    Porta sit porta ridiculus faucibus.</p>

                <form class="contact-form row mt-5">

                    <div class="col-md-12 col-sm-12 mb-4">
                        <input type="text" name="Parents" placeholder="Parents name" class="w-100 border ps-4 py-2 rounded-3">
                    </div>
                    <div class="col-md-12 col-sm-12 mb-4">
                        <input type="number" name="Phone" placeholder="Contact phone" class="w-100 border ps-4 py-2 rounded-3">
                    </div>

                    <div class="col-md-12 col-sm-12 mb-4">
            <textarea type="text" name="message" placeholder="Your message"
                      class="w-100 border ps-4 py-2 rounded-3"></textarea>
                    </div>
                </form>

                <button class="btn btn-primary mt-3" href="#">Submit</button>
            </div>

        </div>
        </div>
    </section>


{% endblock %}







