{% extends 'base.html.twig' %}

{% block body %}
    <div class="container padding-medium">
        <div class="row" style="padding-bottom: 4em;">
            <div class="col-md-6 pe-md-5">
                <div class="imageblock">
                    <div class="animated-border">
                        <img src="{{ asset('images/about-img.jpg') }}" alt="{{ 'about.alt.about_us_image' | trans }}" class="img-fluid rounded-circle">
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-5 mt-md-0">
                <h1 class="display-4">{{ 'about.aHeading1' | trans }}</h1>
                <p><b>{{ 'about.aHeading2' | trans }}</b></p>
                <p>{{ 'about.aParagraph1' | trans }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <hr>
                <h2>{{ 'about.classBees' | trans }}</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <figure>
                    <img src="{{ asset('images/blog1.jpg') }}" alt="{{ 'about.alt.bee_class_image_1' | trans }}" class="img-fluid">
                </figure>
            </div>
            <div class="col-md-6">
                <figure>
                    <img src="{{ asset('images/blog2.jpg') }}" alt="{{ 'about.alt.bee_class_image_2' | trans }}" class="img-fluid">
                </figure>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <hr>
                <h2>{{ 'about.classOwls' | trans }}</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <figure>
                    <img src="{{ asset('images/blog3.jpg') }}" alt="{{ 'about.alt.owl_class_image_1' | trans }}" class="img-fluid">
                </figure>
            </div>
            <div class="col-md-6">
                <figure>
                    <img src="{{ asset('images/blog4.jpg') }}" alt="{{ 'about.alt.owl_class_image_2' | trans }}" class="img-fluid">
                </figure>
            </div>
        </div>

        <p>{{ 'about.bParagraph1' | trans }}</p>
        <p>{{ 'about.bParagraph2' | trans }}</p>
        <p>{{ 'about.bParagraph3' | trans }}</p>
        <p>{{ 'about.bParagraph4' | trans }}</p>
        <p>{{ 'about.bParagraph5' | trans }}</p>

        <h2>{{ 'about.cHeading1' | trans }}</h2>

        <ul>
            <li>{{ 'about.cLi1' | trans }}</li>
            <li>{{ 'about.cLi2' | trans }}</li>
            <li>{{ 'about.cLi3' | trans }}</li>
            <li>{{ 'about.cLi4' | trans }}</li>
            <li>{{ 'about.cLi5' | trans }}</li>
            <li>{{ 'about.cLi6' | trans }}</li>
            <li>{{ 'about.cLi7' | trans }}</li>
            <li>{{ 'about.cLi8' | trans }}</li>
            <li>{{ 'about.cLi9' | trans }}</li>
            <li>{{ 'about.cLi10' | trans }}</li>
            <li>{{ 'about.cLi11' | trans }}</li>
            <li>{{ 'about.cLi12' | trans }}</li>
        </ul>

        <h2>{{ 'about.dHeading1' | trans }}</h2>
        <ul>
            <li>{{ 'about.dLi1' | trans }}</li>
            <li>{{ 'about.dLi2' | trans }}</li>
            <li>{{ 'about.dLi3' | trans }}</li>
            <li>{{ 'about.dLi4' | trans }}</li>
            <li>{{ 'about.dLi5' | trans }}</li>
            <li>{{ 'about.dLi6' | trans }}</li>
            <li>{{ 'about.dLi7' | trans }}</li>
            <li>{{ 'about.dLi8' | trans }}</li>
            <li>{{ 'about.dLi9' | trans }}</li>
        </ul>

        <h3>{{ 'about.eHeading1' | trans }}</h3>
        <p>{{ 'about.eParagraf1' | trans }}</p>
    </div>

{% endblock %}
