{% extends 'base.html.twig' %}

{% block title %}Kindergarten - Daycare and Kindergarten Website Template{% endblock %}

{% block body %}
    <div class="container padding-medium">

        <div class="row">
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card bg-white rounded-4">
                    <a href="single-post.html.twig"><img src="{{ asset('images/blog1.jpg') }}" class="img-fluid rounded-top-4 " alt="image"></a>
                    <div class="card-body p-3">
                        <p class="mb-2">10 Feb, Sun</p>
                        <a href="single-post.html.twig" class="hover-color">
                            <h2 class="m-0 lh-sm">The Benefits of Play-Based Learning for Kindergarteners</h2>
                        </a>
                        <p class="mt-2">At the core of our practice is the idea that cities are the incubators of
                            our greatest
                            achievements, and the best hope for children sustainable future. <span><a href="single-post.html.twig"
                                                                                                      class="text-decoration-underline">Read more</a></span> </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card bg-white rounded-4">
                    <a href="single-post.html.twig"><img src="{{ asset('images/blog3.jpg') }}" class="img-fluid rounded-top-4 " alt="image"></a>
                    <div class="card-body p-3">
                        <p class="mb-2">15 Mar, Mon</p>
                        <a href="single-post.html.twig" class="hover-color">
                            <h2 class="m-0 lh-sm">Creating a Safe and Inclusive Kindergarten Environment</h2>
                        </a>
                        <p class="mt-2">At the core of our practice is the idea that cities are the incubators of
                            our greatest
                            achievements, and the best hope for children sustainable future. <span><a href="single-post.html.twig"
                                                                                                      class="text-decoration-underline">Read more</a></span> </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card bg-white rounded-4">
                    <a href="single-post.html.twig"><img src="{{ asset('images/blog2.jpg') }}" class="img-fluid rounded-top-4 " alt="image"></a>
                    <div class="card-body p-3">
                        <p class="mb-2">22 Feb, Fri</p>
                        <a href="single-post.html.twig" class="hover-color">
                            <h2 class="m-0 lh-sm">Nutrition Tips for Healthy Kindergarten Snacks</h2>
                        </a>
                        <p class="mt-2">At the core of our practice is the idea that cities are the incubators of
                            our greatest
                            achievements, and the best hope for children sustainable future. <span><a href="single-post.html.twig"
                                                                                                      class="text-decoration-underline">Read more</a></span> </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card bg-white rounded-4">
                    <a href="single-post.html.twig"><img src="{{ asset('images/blog4.jpg') }}" class="img-fluid rounded-top-4 " alt="image"></a>
                    <div class="card-body p-3">
                        <p class="mb-2">26 Apr, Tue</p>
                        <a href="single-post.html.twig" class="hover-color">
                            <h2 class="m-0 lh-sm">Craft Ideas for Kindergarten Art Projects</h2>
                        </a>
                        <p class="mt-2">At the core of our practice is the idea that cities are the incubators of
                            our greatest
                            achievements, and the best hope for children sustainable future. <span><a href="single-post.html.twig"
                                                                                                      class="text-decoration-underline">Read more</a></span> </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card bg-white rounded-4">
                    <a href="single-post.html.twig"><img src="{{ asset('images/blog1.jpg') }}" class="img-fluid rounded-top-4 " alt="image"></a>
                    <div class="card-body p-3">
                        <p class="mb-2">10 Feb, Sun</p>
                        <a href="single-post.html.twig" class="hover-color">
                            <h2 class="m-0 lh-sm">The Benefits of Play-Based Learning for Kindergarteners</h2>
                        </a>
                        <p class="mt-2">At the core of our practice is the idea that cities are the incubators of
                            our greatest
                            achievements, and the best hope for children sustainable future. <span><a href="single-post.html.twig"
                                                                                                      class="text-decoration-underline">Read more</a></span> </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card bg-white rounded-4">
                    <a href="single-post.html.twig"><img src="{{ asset('images/blog3.jpg') }}" class="img-fluid rounded-top-4 " alt="image"></a>
                    <div class="card-body p-3">
                        <p class="mb-2">15 Mar, Mon</p>
                        <a href="single-post.html.twig" class="hover-color">
                            <h2 class="m-0 lh-sm">Creating a Safe and Inclusive Kindergarten Environment</h2>
                        </a>
                        <p class="mt-2">At the core of our practice is the idea that cities are the incubators of
                            our greatest
                            achievements, and the best hope for children sustainable future. <span><a href="single-post.html.twig"
                                                                                                      class="text-decoration-underline">Read more</a></span> </p>
                    </div>
                </div>
            </div>

        </div>

        <nav class="navigation paging-navigation text-center mt-5" role="navigation">
            <div class="pagination loop-pagination d-flex justify-content-center align-items-center">
                <a href="#" class="pagination-arrow d-flex align-items-center fw-normal mx-3">
                    <iconify-icon icon="ic:baseline-keyboard-arrow-left" class="pagination-arrow fs-1"></iconify-icon>
                </a>
                <span aria-current="page" class="page-numbers fs-4 fw-normal mx-3 current">1</span>
                <a class="page-numbers fs-4 fw-normal mx-3" href="#">2</a>
                <a class="page-numbers fs-4 fw-normal mx-3" href="#">3</a>
                <a href="#" class="pagination-arrow d-flex align-items-center fw-normal mx-3">
                    <iconify-icon icon="ic:baseline-keyboard-arrow-right" class="pagination-arrow fs-1"></iconify-icon>
                </a>
            </div>
        </nav>
    </div>

    <section id="categories">
        <div class="container padding-medium pt-0">
            <div class="row">
                <div class="col my-4 my-lg-0 text-center">
                    <a href="#" class="categories-item">
                        <iconify-icon class="category-icon bg-red text-white p-5 rounded-circle"
                                      icon="mdi:playground-slide"></iconify-icon>
                        <h2 class="mt-2">gaming Playground</h2>
                    </a>
                </div>
                <div class="col my-4 my-lg-0 text-center">
                    <a href="#" class="categories-item">
                        <iconify-icon class="category-icon bg-green text-white p-5 rounded-circle"
                                      icon="material-symbols:house-outline"></iconify-icon>
                        <h2 class="mt-2">Happy environment</h2>
                    </a>
                </div>
                <div class="col my-4 my-lg-0 text-center">
                    <a href="#" class="categories-item">
                        <iconify-icon class="category-icon bg-blue text-white p-5 rounded-circle" icon="mdi:art"></iconify-icon>
                        <h2 class="mt-2">Creative class</h2>
                    </a>
                </div>
                <div class="col my-4 my-lg-0 text-center">
                    <a href="#" class="categories-item">
                        <iconify-icon class="category-icon bg-yellow text-white p-5 rounded-circle"
                                      icon="material-symbols:abc-rounded"></iconify-icon>
                        <h2 class="mt-2">Active Learning </h2>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="enroll">
        <div class="container padding-medium pt-0">

            <div class="offset-md-3 col-md-6 text-center ">

                <h2 class="display-4 mb-3">How to enroll your child?</h2>
                <p class="fw-bold">Call: 666 333 9999 or Fill in the form below</p>
                <p>Pretium turpis faucibus adipiscing duis. Id quis tristique mi vitae nec. In et in praesent pellentesque.
                    Porta sit porta ridiculus faucibus.</p>

                <form class="contact-form row mt-5">

                    <div class="col-md-12 col-sm-12 mb-4">
                        <input type="text" name="Parents" placeholder="Parents name" class="w-100 border ps-4 py-2 rounded-3">
                    </div>
                    <div class="col-md-12 col-sm-12 mb-4">
                        <input type="number" name="Phone" placeholder="Contact phone" class="w-100 border ps-4 py-2 rounded-3">
                    </div>

                    <div class="col-md-12 col-sm-12 mb-4">
            <textarea type="text" name="message" placeholder="Your message"
                      class="w-100 border ps-4 py-2 rounded-3"></textarea>
                    </div>
                </form>

                <button class="btn btn-primary mt-3" href="#">Submit</button>
            </div>

        </div>
        </div>
    </section>


{% endblock %}
