{% extends 'base.html.twig' %}

{% block body %}
    <section class="contact-us">
        <div class="container padding-medium">
            <div class="row">
                <div class="contact-info col-lg-6">
                    <h1>{{ 'contact.heading1'|trans }}</h1>
                    <p>{{ 'contact.subheading1'|trans }}</p>
                    <div class="page-content d-flex flex-wrap">
                        <div class="col-lg-12 col-sm-12">
                            <div class="content-box text-dark pe-4">
                                <h3>Créme de la Créme</h3>
                                <p><iconify-icon class="text-primary fs-5 me-2" icon="mdi:location" style="vertical-align:text-bottom"></iconify-icon>Štúrova 44, 040 01 Košice</p>
                                <p><iconify-icon class="text-primary fs-5 me-2" icon="solar:phone-bold" style="vertical-align:text-bottom"></iconify-icon>+421 918 757 178</p>
                                <p><iconify-icon class="text-primary fs-5 me-2" icon="ic:baseline-email" style="vertical-align:text-bottom"></iconify-icon> riaditel@mssturova.sk </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="inquiry-item col-lg-6 mt-5 mt-md-0">
                    <div class="rounded-5">
                        <h2>{{ 'contact.formHeading'|trans }}</h2>
                        {{ form_start(form) }}
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="col-md-6 mb-3">
                                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-lg-12 mb-3">
                            {{ form_widget(form.phone) }}
                        </div>
                        <div class="col-lg-12 mb-3">
                            {{ form_widget(form.topic) }}
                        </div>
                        <div class="col-lg-12 mb-3">
                            {{ form_widget(form.message) }}
                        </div>
                        <div class="d-grid">
                            {{ form_widget(form.submit) }}
                        </div>
                        {{ form_row(form.captcha) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="google-map">
        <div class="mapouter">
            <div class="gmap_canvas">
                <iframe width="100%" height="500" id="gmap_canvas"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4349.680229272155!2d21.24903807745324!3d48.71636351068955!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473ee06e8ebdb381%3A0xae80ccf71b973ac5!2zxaB0w7pyb3ZhIDIyLzQ0LCAwNDAgMDEgS2_FoWljZQ!5e1!3m2!1ssk!2ssk!4v1713814413972!5m2!1ssk!2ssk"
                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                <style>
                    .mapouter {
                        position: relative;
                        text-align: right;
                        height: 500px;
                        width: 100%;
                    }
                    .gmap_canvas {
                        overflow: hidden;
                        background: none !important;
                        height: 500px;
                        width: 100%;
                    }
                </style>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        const siteKey = '{{ siteKey|raw }}';

        //either on page load
        grecaptcha.ready(function() {
            grecaptcha.execute(siteKey, {
                action: 'homepage'
            }).then(function(token) {
                //the token will be sent on form submit
                $('[name="captcha"]').val(token);
                //keep in mind that token expires in 120 seconds so it's better to add setTimeout.
            });
        });

        //or on form post:
        grecaptcha.ready(function() {
            grecaptcha.execute(siteKey, {
                action: 'homepage'
            }).then(function(token) {
                //submit the form
                return http.post(url, {email, captcha: token});
            });
        });
    </script>
{% endblock %}
