{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="accordion mb-5" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button bg-transparent focus-transparent shadow-none"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                                    aria-controls="collapseOne">
                                {{ 'forParents.aHeading1'|trans }}
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                            <div class="accordion-body">
                                <ul>
                                    <li>{{ 'forParents.aLi1'|trans }}</li>
                                    <li>{{ 'forParents.aLi2'|trans }}</li>
                                    <li>{{ 'forParents.aLi3'|trans }}</li>
                                    <li>{{ 'forParents.aLi4'|trans }}</li>
                                    <li>{{ 'forParents.aLi5'|trans }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button bg-transparent focus-transparent shadow-none collapsed"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                                    aria-controls="collapseTwo">
                                {{ 'forParents.bHeading1'|trans }}
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo">
                            <div class="accordion-body">
                                <ul>
                                    <li>{{ 'forParents.bLi1'|trans }}</li>
                                    <li>{{ 'forParents.bLi2'|trans }}</li>
                                    <li>{{ 'forParents.bLi3'|trans }}</li>
                                    <li>{{ 'forParents.bLi4'|trans }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button bg-transparent focus-transparent shadow-none collapsed"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                                    aria-controls="collapseThree">
                                {{ 'forParents.cHeading1'|trans }}
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree">
                            <div class="accordion-body">
                                <h3>{{ 'forParents.cUl1'|trans }}</h3>
                                <ul>
                                    <li>{{ 'forParents.cUl1Li1'|trans }}</li>
                                    <li>{{ 'forParents.cUl1Li2'|trans }}</li>
                                </ul>

                                <h3>{{ 'forParents.cUl2'|trans }}</h3>
                                <ul>
                                    <li>{{ 'forParents.cUl2Li1'|trans }}</li>
                                    <li>{{ 'forParents.cUl2Li2'|trans }}</li>
                                </ul>

                                <h4>{{ 'forParents.eHeading1'|trans }}</h4>
                                <p>{{ 'forParents.eParagraf1'|trans }}</p>

                                <h4>{{ 'forParents.eHeading2'|trans }}</h4>
                                <p>{{ 'forParents.eParagraf2'|trans }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button bg-transparent focus-transparent shadow-none collapsed"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false"
                                    aria-controls="collapseThree">
                                {{ 'forParents.dHeading1'|trans }}
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour">
                            <div class="accordion-body">
                                <a download="" class="d-block py-2 fs-5" href="{{ asset('documents/Potvrdenie o zdravotnej spôsobilosti dieťaťa.pdf') }}">
                                    <i class="bi bi-download"></i>   {{ 'document.health_kid' | trans }}
                                </a>
                                <a download="" class="d-block py-2 fs-5" href="{{ asset('documents/Žiadosť o prijatie dieťaťa.pdf') }}">
                                    <i class="bi bi-download"></i>   {{ 'document.application_kid'| trans }}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFive">
                            <button class="accordion-button bg-transparent focus-transparent shadow-none collapsed"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false"
                                    aria-controls="headingFive">
                                {{ 'forParents.fHeading1'|trans }}
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive">
                            <div class="accordion-body">
                                <a download="Dodatok_skolsky_poriadok_4.pdf"
                                   class="d-block py-2 fs-5"
                                   href="{{ asset('documents/Dodatok školský poriadok č.4.pdf'|url_encode) }}">
                                    <i class="bi bi-download"></i> Dodatok školský poriadok č.4.pdf
                                </a>
                                <a download="" class="d-block py-2 fs-5" href="{{ asset('documents/Školsky poriadok 2022 Súkromná materská škola Créme de la créme.docx') }}">
                                    <i class="bi bi-download"></i>  Školsky poriadok 2022 Súkromná materská škola Créme de la créme.docx
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
