{% extends 'base.html.twig' %}

{% block title %}Kindergarten - Daycare and Kindergarten Website Template{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container padding-medium">
        <div class="row ">
            <div class="col-md-6 pe-md-5">
                <div class="imageblock">
                    <div class="animated-border">
                        <img src="https://mssturova.sk/wp-content/uploads/2020/06/ovocie-1024x766.jpeg" alt="Assorted Fruits" class="img-fluid rounded-circle"
                             style="width: 400px;height: 400px;">
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-5 mt-md-0">
                <h1 class="display-4">{{ 'menu.heading1'|trans }}</h1>
                <p>{{ 'menu.paragraph1'|trans }}</p>
                <p>{{ 'menu.paragraph2'|trans }}</p>
            </div>
        </div>
    </div>

    <div class="container padding-medium">
        <div class="row ">
            <div class="col-md-6 pe-md-5">
                <h2 class="display-4">{{ 'menu.heading2'|trans }}</h2>
                <p>{{ 'menu.paragraph3'|trans }}</p>
                <p>{{ 'menu.paragraph4'|trans }}</p>
            </div>
            <div class="col-md-6 mt-5 mt-md-0">
                <div class="imageblock">
                    <div class="animated-border">
                        <img src="https://mssturova.sk/wp-content/uploads/2020/06/mysky.jpg" alt="Children Playing" class="img-fluid rounded-circle"
                             style="width: 400px;height: 400px;">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section>
        <div class="container padding-medium">
            <h2 class="display-4 text-center mb-5">{{ 'menu.menuHeading'|trans }}</h2>

            <div class="post-content ">
                <div class="bootstrap-tabs">
                    <nav>
                        <div class="nav nav-tabs d-flex flex-wrap justify-content-center" id="nav-tab" role="tablist">
                            {% for day in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'] %}
                                <button class="nav-link mx-2 text-black fw-bold fs-5 {% if loop.first %}active{% endif %}" id="nav-{{ day|lower }}-tab"
                                        data-bs-toggle="tab" data-bs-target="#nav-{{ day|lower }}" type="button" role="tab"
                                        aria-controls="nav-{{ day|lower }}" aria-selected="{{ loop.first ? 'true' : 'false' }}">{{ 'menu.menu' ~ day|capitalize|trans }}</button>
                            {% endfor %}
                        </div>
                    </nav>
                    <div class="tab-content mt-5" id="nav-tabContent">
                        {% for day in ['monday', 'tuesday', 'wednesday', 'thursday', 'friday'] %}
                            {% set foodDay = attribute(foodWeek, day) %}
                            <div class="tab-pane fade {% if loop.first %}show active{% endif %}" id="nav-{{ day }}" role="tabpanel"
                                 aria-labelledby="nav-{{ day }}-tab">
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        {% for meal in ['Breakfast', 'Snack1', 'Lunch', 'Snack2'] %}
                                            {% set food = attribute(foodDay, meal|lower) %}
                                            <h3>{{ 'menu.menu' ~ meal|capitalize|trans }}</h3>
                                            <div class="row">
                                                <div class="col-12 mb-2">
                                                    {% if food %}
                                                        <h4 class="lh-sm">{{ food.title }}</h4>
                                                        <p>{{ food.description }}</p>
                                                        {% if food.alergens %}
                                                            <p><strong>Alergens:</strong> {{ food.alergens }}</p>
                                                        {% endif %}
                                                    {% else %}
                                                        <p>No data available</p>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
