{% extends 'base.html.twig' %}

{% block title %}Kindergarten - Daycare and Kindergarten Website Template{% endblock %}


{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous"></script>
{% endblock %}


{% block body %}


    <section id="price" class="padding-medium">
        <div class="container">

            <h2 class="display-4 text-center mb-5">{{ 'pricing.title'| trans }}</h2>
            <p class="text-center">{{ 'pricing.information_to_title'| trans }}</p>

            <div class="row justify-content-center">
                <div class="col-lg-4 pb-4">
                    <div class="py-5 px-4 plan-post rounded-4 text-center">
                        <p class="text-uppercase fw-bold mb-3">{{ 'pricing.title_half_day' | trans }}</p>
                        <h3 class="display-2 mb-2">290 &euro;<span class="fs-6">/m</span></h3>
                        <hr class="my-4 px-4">
                        <div class="price-option">
                            <h5>{{ 'pricing.title_price_included' | trans }}</h5>
                            <p><span class="price-tick">✓</span> {{ 'pricing.club_english'| trans }}</p>
                            <p><span class="price-tick">✓</span> {{ 'pricing.club_ceramics'| trans }}</p>
                            <p><span class="price-tick">✓</span> {{ 'pricing.club_dancing'| trans }}</p>
                            <p><span class="price-tick">✓</span> {{ 'pricing.club_fonematic'| trans }}</p>
                            <p><span class="price-tick">✓</span> {{ 'pricing.club_climbing'| trans }}</p>
                            <p><span class="price-tick">✓</span> {{ 'pricing.gymnastic'| trans }}</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 pb-4">
                    <div class="py-5 px-4 plan-post rounded-4 text-center bg-primary">
                        <p class="text-uppercase fw-bold text-white mb-3">{{ 'pricing.title_full_day' | trans }}</p>
                        <h3 class="display-2 text-white mb-2">340 &euro;<span class="fs-6">/m</span></h3>
                        <p class="m-0 text-white">{{ 'pricing.enrollment_fee' | trans }}</p>
                        <hr class="my-4 px-4">
                        <div class="price-option">
                            <h5>{{ 'pricing.title_price_included' | trans }}</h5>
                            <p><span class="text-white">✓</span> {{ 'pricing.club_english'| trans }}</p>
                            <p><span class="text-white">✓</span> {{ 'pricing.club_ceramics'| trans }}</p>
                            <p><span class="text-white">✓</span> {{ 'pricing.club_dancing'| trans }}</p>
                            <p><span class="text-white">✓</span> {{ 'pricing.club_fonematic'| trans }}</p>
                            <p><span class="text-white">✓</span> {{ 'pricing.club_climbing'| trans }}</p>
                            <p><span class="price-tick">✓</span> {{ 'pricing.gymnastic'| trans }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <h3 class="text-center">{{ 'pricing.title_pay_lunch'| trans }}</h3>
            <h4 class="text-center">{{ 'pricing.food_money'| trans }}</h4>
            <p class="text-center">{{ 'pricing.food_money_classic'| trans }}</p>
            <p class="text-center">{{ 'pricing.or'| trans }}</p>
            <p class="text-center">{{ 'pricing.food_money_gluten_free'| trans }}</p>
            <h4 class="text-center">{{ 'pricing.info_payment_day'| trans }}</h4>
            <p class="text-center">{{ 'pricing.iban'| trans }}</p>
            <p class="text-center">{{ 'pricing.extra_club_money'| trans }}</p>


            <h4 class="text-center">{{ 'pricing.end_title_individual' | trans }}</h4>
            <p class="btn btn-outline-danger p-4">{{ 'pricing.warning_pay_back_money'| trans }}</p>
        </div>
    </section>

{% endblock %}
