{% extends 'base.html.twig' %}



{% block body %}

    <section id="review">
        <div class=" services-sub container padding-medium">
            <h2 class="display-4 text-center mb-5">Reviews From Parents</h2>

            <div class="row">
                <div class=" mt-5 col-md-4">
                    <div class="reviews-components p-5">
                        <iconify-icon icon="gridicons:quote" class="quote my-2"></iconify-icon>
                        <p>“A pellen tesque pretium feugiat vel mobi sagittis lorem habi tasse cursus ipsum quis nec
                            eget facilisis. Quis nibh ut bindum nisl quis placerat proin tortor mattis.”</p>
                        <div class="row mt-4">
                            <div class="col-md-3">
                                <img src="{{ asset('images/commentor-item1.jpg') }}" alt="image" class="img-fluid">
                            </div>
                            <div class="col-md-9">
                                <h5 class="lh-sm">Kelly Garcia</h5>
                                <div class="d-flex">
                                    <iconify-icon icon="ion:star" class="rate pe-1 text-warning"></iconify-icon>
                                    <iconify-icon icon="ion:star" class="rate pe-1 text-warning"></iconify-icon>
                                    <iconify-icon icon="ion:star" class="rate pe-1 text-warning"></iconify-icon>
                                    <iconify-icon icon="ion:star" class="rate pe-1 text-warning"></iconify-icon>
                                    <iconify-icon icon="ion:star" class="rate pe-1 text-warning"></iconify-icon>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class=" mt-5 col-md-4">
                    <div class="reviews-components p-5">
                        <iconify-icon icon="gridicons:quote" class="quote my-2"></iconify-icon>
                        <p>“A pellen tesque pretium feugiat vel mobi sagittis lorem habi tasse cursus ipsum quis nec
                            eget facilisis. Quis nibh ut bindum nisl quis placerat proin tortor mattis.”</p>
                        <div class="row mt-4">
                            <div class="col-md-3">
                                <img src="{{ asset('images/commentor-item2.jpg') }}" alt="image" class="img-fluid">
                            </div>
                            <div class="col-md-9">
                                <h5 class="lh-sm">Anna Evans</h5>
                                <div class="d-flex">
                                    <iconify-icon icon="ion:star" class="rate pe-1 text-warning"></iconify-icon>
                                    <iconify-icon icon="ion:star" class="rate pe-1 text-warning"></iconify-icon>
                                    <iconify-icon icon="ion:star" class="rate pe-1 text-warning"></iconify-icon>
                                    <iconify-icon icon="ion:star" class="rate pe-1 text-warning"></iconify-icon>
                                    <iconify-icon icon="ion:star-half" class="rate pe-1 text-warning"></iconify-icon>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class=" mt-5 col-md-4">
                    <div class="reviews-components p-5">
                        <iconify-icon icon="gridicons:quote" class="quote my-2"></iconify-icon>
                        <p>“A pellen tesque pretium feugiat vel mobi sagittis lorem habi tasse cursus ipsum quis nec
                            eget facilisis. Quis nibh ut bindum nisl quis placerat proin tortor mattis.”</p>
                        <div class="row mt-4">
                            <div class="col-md-3">
                                <img src="{{ asset('images/commentor-item3.jpg') }}" alt="image" class="img-fluid">
                            </div>
                            <div class="col-md-9">
                                <h5 class="lh-sm">Georgiea Millre</h5>
                                <div class="d-flex">
                                    <iconify-icon icon="ion:star" class="rate pe-1 text-warning"></iconify-icon>
                                    <iconify-icon icon="ion:star" class="rate pe-1 text-warning"></iconify-icon>
                                    <iconify-icon icon="ion:star" class="rate pe-1 text-warning"></iconify-icon>
                                    <iconify-icon icon="ion:star" class="rate pe-1 text-warning"></iconify-icon>
                                    <iconify-icon icon="ion:star-half" class="rate pe-1 text-warning"></iconify-icon>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class=" mt-5 col-md-4">
                    <div class="reviews-components p-5">
                        <iconify-icon icon="gridicons:quote" class="quote my-2"></iconify-icon>
                        <p>“A pellen tesque pretium feugiat vel mobi sagittis lorem habi tasse cursus ipsum quis nec
                            eget facilisis. Quis nibh ut bindum nisl quis placerat proin tortor mattis.”</p>
                        <div class="row mt-4">
                            <div class="col-md-3">
                                <img src="{{ asset('images/commentor-item3.jpg') }}" alt="image" class="img-fluid">
                            </div>
                            <div class="col-md-9">
                                <h5 class="lh-sm">Kelly Garcia</h5>
                                <div class="d-flex">
                                    <iconify-icon icon="ion:star" class="rate pe-1 text-warning"></iconify-icon>
                                    <iconify-icon icon="ion:star" class="rate pe-1 text-warning"></iconify-icon>
                                    <iconify-icon icon="ion:star" class="rate pe-1 text-warning"></iconify-icon>
                                    <iconify-icon icon="ion:star" class="rate pe-1 text-warning"></iconify-icon>
                                    <iconify-icon icon="ion:star-half" class="rate pe-1 text-warning"></iconify-icon>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class=" mt-5 col-md-4">
                    <div class="reviews-components p-5">
                        <iconify-icon icon="gridicons:quote" class="quote my-2"></iconify-icon>
                        <p>“A pellen tesque pretium feugiat vel mobi sagittis lorem habi tasse cursus ipsum quis nec
                            eget facilisis. Quis nibh ut bindum nisl quis placerat proin tortor mattis.”</p>
                        <div class="row mt-4">
                            <div class="col-md-3">
                                <img src="{{ asset('images/commentor-item2.jpg') }}" alt="image" class="img-fluid">
                            </div>
                            <div class="col-md-9">
                                <h5 class="lh-sm">Anna Evans</h5>
                                <div class="d-flex">
                                    <iconify-icon icon="ion:star" class="rate pe-1 text-warning"></iconify-icon>
                                    <iconify-icon icon="ion:star" class="rate pe-1 text-warning"></iconify-icon>
                                    <iconify-icon icon="ion:star" class="rate pe-1 text-warning"></iconify-icon>
                                    <iconify-icon icon="ion:star" class="rate pe-1 text-warning"></iconify-icon>
                                    <iconify-icon icon="ion:star" class="rate pe-1 text-warning"></iconify-icon>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class=" mt-5 col-md-4">
                    <div class="reviews-components p-5">
                        <iconify-icon icon="gridicons:quote" class="quote my-2"></iconify-icon>
                        <p>“A pellen tesque pretium feugiat vel mobi sagittis lorem habi tasse cursus ipsum quis nec
                            eget facilisis. Quis nibh ut bindum nisl quis placerat proin tortor mattis.”</p>
                        <div class="row mt-4">
                            <div class="col-md-3">
                                <img src="{{ asset('images/commentor-item3.jpg') }}" alt="image" class="img-fluid">
                            </div>
                            <div class="col-md-9">
                                <h5 class="lh-sm">Georgiea Millre</h5>
                                <div class="d-flex">
                                    <iconify-icon icon="ion:star" class="rate pe-1 text-warning"></iconify-icon>
                                    <iconify-icon icon="ion:star" class="rate pe-1 text-warning"></iconify-icon>
                                    <iconify-icon icon="ion:star" class="rate pe-1 text-warning"></iconify-icon>
                                    <iconify-icon icon="ion:star" class="rate pe-1 text-warning"></iconify-icon>
                                    <iconify-icon icon="ion:star" class="rate pe-1 text-warning"></iconify-icon>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class=" mt-5 col-md-4">
                    <div class="reviews-components p-5">
                        <iconify-icon icon="gridicons:quote" class="quote my-2"></iconify-icon>
                        <p>“A pellen tesque pretium feugiat vel mobi sagittis lorem habi tasse cursus ipsum quis nec
                            eget facilisis. Quis nibh ut bindum nisl quis placerat proin tortor mattis.”</p>
                        <div class="row mt-4">
                            <div class="col-md-3">
                                <img src="{{ asset('images/commentor-item1.jpg') }}" alt="image" class="img-fluid">
                            </div>
                            <div class="col-md-9">
                                <h5 class="lh-sm">Kelly Garcia</h5>
                                <div class="d-flex">
                                    <iconify-icon icon="ion:star" class="rate pe-1 text-warning"></iconify-icon>
                                    <iconify-icon icon="ion:star" class="rate pe-1 text-warning"></iconify-icon>
                                    <iconify-icon icon="ion:star" class="rate pe-1 text-warning"></iconify-icon>
                                    <iconify-icon icon="ion:star" class="rate pe-1 text-warning"></iconify-icon>
                                    <iconify-icon icon="ion:star" class="rate pe-1 text-warning"></iconify-icon>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class=" mt-5 col-md-4">
                    <div class="reviews-components p-5">
                        <iconify-icon icon="gridicons:quote" class="quote my-2"></iconify-icon>
                        <p>“A pellen tesque pretium feugiat vel mobi sagittis lorem habi tasse cursus ipsum quis nec
                            eget facilisis. Quis nibh ut bindum nisl quis placerat proin tortor mattis.”</p>
                        <div class="row mt-4">
                            <div class="col-md-3">
                                <img src="{{ asset('images/commentor-item2.jpg') }}" alt="image" class="img-fluid">
                            </div>
                            <div class="col-md-9">
                                <h5 class="lh-sm">Anna Evans</h5>
                                <div class="d-flex">
                                    <iconify-icon icon="ion:star" class="rate pe-1 text-warning"></iconify-icon>
                                    <iconify-icon icon="ion:star" class="rate pe-1 text-warning"></iconify-icon>
                                    <iconify-icon icon="ion:star" class="rate pe-1 text-warning"></iconify-icon>
                                    <iconify-icon icon="ion:star" class="rate pe-1 text-warning"></iconify-icon>
                                    <iconify-icon icon="ion:star" class="rate pe-1 text-warning"></iconify-icon>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class=" mt-5 col-md-4">
                    <div class="reviews-components p-5">
                        <iconify-icon icon="gridicons:quote" class="quote my-2"></iconify-icon>
                        <p>“A pellen tesque pretium feugiat vel mobi sagittis lorem habi tasse cursus ipsum quis nec
                            eget facilisis. Quis nibh ut bindum nisl quis placerat proin tortor mattis.”</p>
                        <div class="row mt-4">
                            <div class="col-md-3">
                                <img src="{{ asset('images/commentor-item3.jpg') }}" alt="image" class="img-fluid">
                            </div>
                            <div class="col-md-9">
                                <h5 class="lh-sm">Georgiea Millre</h5>
                                <div class="d-flex">
                                    <iconify-icon icon="ion:star" class="rate pe-1 text-warning"></iconify-icon>
                                    <iconify-icon icon="ion:star" class="rate pe-1 text-warning"></iconify-icon>
                                    <iconify-icon icon="ion:star" class="rate pe-1 text-warning"></iconify-icon>
                                    <iconify-icon icon="ion:star" class="rate pe-1 text-warning"></iconify-icon>
                                    <iconify-icon icon="ion:star" class="rate pe-1 text-warning"></iconify-icon>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <nav class="navigation paging-navigation text-center mt-5" role="navigation">
                <div class="pagination loop-pagination d-flex justify-content-center align-items-center">
                    <a href="#" class="pagination-arrow d-flex align-items-center fw-normal mx-3">
                        <iconify-icon icon="ic:baseline-keyboard-arrow-left" class="pagination-arrow fs-1"></iconify-icon>
                    </a>
                    <span aria-current="page" class="page-numbers fs-4 fw-normal mx-3 current">1</span>
                    <a class="page-numbers fs-4 fw-normal mx-3" href="#">2</a>
                    <a class="page-numbers fs-4 fw-normal mx-3" href="#">3</a>
                    <a href="#" class="pagination-arrow d-flex align-items-center fw-normal mx-3">
                        <iconify-icon icon="ic:baseline-keyboard-arrow-right" class="pagination-arrow fs-1"></iconify-icon>
                    </a>
                </div>
            </nav>

        </div>
    </section>

    <section id="cta" class="jarallax"
             style="background-image: {{ asset('images/cta.jpg') }}; background-repeat: no-repeat; background-position: center;">
        <div class="container padding-medium">

            <div class="offset-md-3 col-md-6 text-center ">
                <div class="section-title">
                    <h2 class="display-4 mb-3 banner-title">Are you going to enroll your child to a class?</h2>
                </div>

                <p class="banner-title">Pretium turpis faucibus adipiscing duis. Id quis tristique mi vitae nec. In et in
                    praesent pellentesque sit porta ridiculus faucibus. </p>
                <a class="btn btn-primary mt-3" href="enrollment.html.twig">Read More</a>
            </div>

        </div>
        </div>
    </section>

    <section id="enroll">
        <div class="container padding-medium">

            <div class="offset-md-3 col-md-6 text-center ">

                <h2 class="display-4 mb-3">How to enroll your child?</h2>
                <p class="fw-bold">Call: 666 333 9999 or Fill in the form below</p>
                <p>Pretium turpis faucibus adipiscing duis. Id quis tristique mi vitae nec. In et in praesent pellentesque.
                    Porta sit porta ridiculus faucibus.</p>

                <form class="contact-form row mt-5">

                    <div class="col-md-12 col-sm-12 mb-4">
                        <input type="text" name="Parents" placeholder="Parents name" class="w-100 border ps-4 py-2 rounded-3">
                    </div>
                    <div class="col-md-12 col-sm-12 mb-4">
                        <input type="number" name="Phone" placeholder="Contact phone" class="w-100 border ps-4 py-2 rounded-3">
                    </div>

                    <div class="col-md-12 col-sm-12 mb-4">
            <textarea type="text" name="message" placeholder="Your message"
                      class="w-100 border ps-4 py-2 rounded-3"></textarea>
                    </div>
                </form>

                <button class="btn btn-primary mt-3" href="#">Submit</button>
            </div>

        </div>
        </div>
    </section>

{% endblock %}


