{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 col-sm-12">
                <h1>{{ 'teachers.heading1'|trans }}</h1>
                <blockquote>
                    <p>{{ 'teachers.paragraph1'|trans }}</p>
                </blockquote>

                <h2 style="color: blue">{{ 'teachers.heading2'|trans }}</h2>

                <p>{{ 'teachers.paragraph2'|trans }}</p>
                <p>{{ 'teachers.paragraph3'|trans }}</p>
            </div>
        </div>
    </div>

    <section id="instructors" class="padding-medium" style="padding-top: 0!important;">
        <div class="container">
            <h2 class="display-4 text-center mb-5">{{ 'teachers.ourTeam'|trans }}</h2>

            <div class="row">
                {% for teacher in teachers %}
                    <div class="col-md-4 mt-5">
                        <div class="team-member position-relative">
                            <div class="image-holder zoom-effect">
                                <img src="{{ path('image_upload', {'size':'original', 'imageName': teacher.image}) }}" alt="{{ teacher.name }} - {{ teacher.position }}" class="img-fluid"
                                     style="width: 356px; height: 500px; object-fit: fill;">
                            </div>
                            <div class="member-info pt-4">
                                <h3 class="lh-sm m-0">{{ teacher.name }}</h3>
                                <span class="text-primary fs-6">{{ teacher.position }}</span>
                                <p class="mt-2">{{ teacher.description }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
