
{{ form_start(form, {'attr': {'class': 'review-form container'}}) }}
<div class="form-group">
    {{ form_row(form.nick, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="form-group">
    {{ form_row(form.reviewText, {'attr': {'class': 'form-control'}}) }}
</div>

<div class="star-rating">
    {% for value in [ 5, 4, 3, 2, 1] %}
        <input type="radio" name="{{ form.stars.vars.full_name }}" value="{{ value }}" id="star{{ value }}" {% if form.vars.value.stars == value %}checked{% endif %} class="star-input"/>
        <label for="star{{ value }}" title="{{ value }} stars" class="star-label">&#9733;</label>
    {% endfor %}
</div>
{{ form_widget(form.stars, {
    'attr': {
        'class': 'd-none'
    }
}) }}
<button type="submit" class="btn btn-primary mt-4">{{ 'review.formButton'|trans }}</button>
{{ form_end(form) }}

<style>
    .review-form {
        max-width: 600px;
        margin: auto;
        padding: 15px;
        background: #f8f9fa;
        border-radius: 5px;
    }
    .star-rating {
        display: flex;
        flex-direction: row;
        justify-content: start;
        margin-top: 15px;
    }
    .star-rating .star-input {
        display: none;
    }
    .star-rating .star-label {
        font-size: 2rem;
        color: #ccc;
        cursor: pointer;
    }
    .star-rating .star-label:hover,
    .star-rating .star-label:hover ~ .star-label,
    .star-rating .star-input:checked ~ .star-label {
        color: gold;
    }
    .form-control {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const stars = document.querySelectorAll('.star-rating input[type="radio"]');
        stars.forEach(star => {
            star.addEventListener('change', function () {
                updateStars();
            });
        });

        function updateStars() {
            let isChecked = false;
            stars.forEach(star => {
                const label = document.querySelector('label[for="' + star.id + '"]');
                if (star.checked) {
                    isChecked = true;
                }
                label.style.color = isChecked ? 'gold' : '#ccc';
            });
        }
    });
</script>
